.wrapper {
  background-color:#b9b9b9
}
.page_wrapper{
  height: 100vh;
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_wrap {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  height: 340px;
  width: 100%;
  align-items: center;
}
.form_wrap_register {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  height: 450px;
  width: 100%;
  align-items: center;
}
.callback {
  height: 100%;

}
.callback__title {
  color: rgb(32, 34, 35);
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
input {
  width: 100%;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(167, 172, 177);
  padding: 8px 12px;
  color: rgb(32, 34, 35);
  font-family: SF Pro Text;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
label {
  color: black;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "SF Pro Text";
  font-size: 14px;
}
.login_error {
  color: red;
}
li {
  color: red;
}
.down_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link_next_page {
  color: #0c2563;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "SF Pro Text";
  font-size: 14px;
}

.callback__field-item input::-moz-placeholder {
  color: rgb(32, 34, 35);
  font-family: SF Pro Text;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.callback__field-item input::placeholder {
  color: rgb(32, 34, 35);
  font-family: SF Pro Text;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.callback__field-item-title {
  color: rgb(32, 34, 35);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0px;
}

@media (min-width: 992px) {
  .callback {
    padding: 14px 42px;
}

.button {
  border-radius: 4px;
  background: var(--Icon-Highlight, #00a0ac);
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  padding: 8px 16px;
  color: var(--Text-On-Primary, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.reset_done_message {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.alert-heading {
  color: #333366;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}
.cross {
  height: 30px;
  display: flex;
  justify-content: end;
}
  & img {
    width: 30px;
    height: 30px;
  }