.main__nav {
  padding: 16px 0 24px   0;
}

.main__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.main__nav-list-item a {
  color: rgb(32, 34, 35);
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.main__nav-list-item-active a {
  color: rgb(109, 113, 117);
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.mian__nav-list-item-arrow {
  max-height: 20px;
}

.main_order {
    display: flex;
}

p {
    color: var(--Text-Default, #202223);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}