.main__wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main__nav {
    padding: 16px 0 0 0;
}

.main__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.main__nav-list-item a {
    color: rgb(32, 34, 35);
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.main__nav-list-item-active a {
    color: rgb(109, 113, 117);
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.mian__nav-list-item-arrow {
    max-height: 20px;
}

.article__title-wrap-order {
    display: flex;
    padding: 15px 10px;
    gap: 25px;
    background: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: -11px 11px 13px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -11px 11px 13px 4px rgba(34, 60, 80, 0.2);
    box-shadow: -11px 11px 13px 4px rgba(34, 60, 80, 0.2);
}

main p, h2, h3 {
    color: var(--Text-Default, #202223);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.article__order-item {
    color: var(--Text-Default, #202223);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: -webkit-box;
}

main h2 {
    font-size: 20px;
}

main h3 {
    font-size: 18px;
}

.article__title-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 0 24px 0;
}

.article__title-wrap-order-item {
    flex: 0 1 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article__title-wrap-order-item-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    & a {
        width: 130px;
    }
}

.article__title-wrap-order-card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.article__title-wrap-order-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 150px;
    border-radius: 8px;
    gap: 10px;
    -webkit-box-shadow: 0 1px 12px 7px rgba(34, 60, 80, 0.37);
    -moz-box-shadow: 0 1px 12px 7px rgba(34, 60, 80, 0.37);
    box-shadow: 0 1px 12px 7px rgba(34, 60, 80, 0.37);
}

.profile__nav {
    min-width: 135px;
}

.body__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid #d2d5d8;
    padding: 20px 0;
}

.profile__nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile__nav-list-item a {
    color: rgb(32, 34, 35);
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.user__data-button {
}

.pay__card {
    padding: 10px 0;
    background: #ffffff;
}

.promotions__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pay__card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.pay__card-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 16px 16px;
    border-radius: 4px;
    border: 2px solid rgb(140, 145, 150);
    background: rgb(0, 160, 172);
    margin: 5px;
}

.numder_paycard {
    display: flex;
    justify-content: center;
    gap: 2.5px
}

.input_item_active_num_paycard {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding: 8px 8px;
    width: 70px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(140, 145, 150);
    background: rgb(255, 255, 255);
}

.date_CVV_paycard {
    display: flex;
    gap: 70px;
}

.input_item_active_date_paycard {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    padding: 8px 8px;
    width: 75px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(140, 145, 150);
    background: rgb(255, 255, 255);
}

.input_item_active_CVV_paycard {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    padding: 8px 8px;
    width: 75px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(140, 145, 150);
    background: rgb(255, 255, 255);
}

.wishlist, .subscription {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.comparison {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comparison__title, .wishlist__title, .pay__card__title, .details__list__about__order__title, .subscription__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(34, 60, 80, 0.2);

    & p {
        font-size: large;
    }
}

.product__list-wrapper {
    display: flex;
    overflow: auto;
}

.product__list {
    display: flex;
    gap: 16px 20px;
}

.product__list-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #fff;
    gap: 10px;
    transition: 0.2s;
    width: 250px;
}

.product___item-img {
    flex: 0 1 210px;
}

.product__item-img img {
    width: 100%;
    height: 210px;
    -o-object-fit: contain;
    object-fit: contain;
    user-select: none;
}

.product__item-title {
    display: flex;
    flex: 0 1 110px;
    padding-bottom: 20px;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #222;
    border-bottom: 1px solid rgba(34, 60, 80, 0.2);
    padding-left: 5px;
}

.product__item-brand, .product__item-price {
    padding-left: 5px;
}

.product__item-title-price, .product__item-title-brand, .product__item-title-compound, .product__item-title-supplements {
    background: #98C6CD;
    padding-left: 5px;
}

.product__item-compound, .product__item-supplements {
    display: flex;
    flex: 0 1 250px;
    margin-right: 10px;
    padding-left: 5px;
}

.user__data {
    width: 100%;
}

.user__data-from-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.user__data-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    & h2 {
        text-align: center;
    }
}

.user__data-form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;

    & h2 {
        text-align: center;
    }

    & p {
        display: flex;
        align-items: center;
        padding-left: 5px;
        background: white;
        gap: 10px;

        & label {
            width: 220px;
            height: 30px;
            align-items: center;
            justify-content: flex-end;
            display: flex;
            text-align: end;
        }

        & input {
            border: 1px solid rgb(0, 160, 172);
            border-radius: 4px;
            height: 30px;
            width: 400px;
            padding-left: 10px;
        }

        & input:disabled {
            background: lightblue;
            opacity: 0.5;
        }

        & input:focus {
            border: 2px solid rgb(0, 160, 172);
            border-radius: 4px;
        }
    }
}

.user__data-button-wrap {
    display: flex;
    justify-content: center;
}

.user__data-button {
    display: flex;
    justify-content: center;
    background: rgb(0, 160, 172);
    height: 30px;
    border-radius: 4px;
    width: 200px;
    align-items: center;
    font-family: SF Pro Text;
    color: white;
}

.save__login-button {
    display: none;
}

.save__password-button {
    display: none;
}

.errorlist li {
    color: red;
}

.profile_form_email {
    background: lightblue;
    opacity: 0.5;
}

/*Стили для страниц подписки и просмотренное, после разработки удалить!*/
.cat__developer {
    margin-left: 200px;
}

.not_auth {
    max-width: 600px;
    max-height: 500px;
}

.not_auth img {
    width: 100%;
    height: 100%;
}

.not_auth_link {
    display: flex;
    justify-content: center;
}

.details {
    width: 100%;
}

.details__list__about__order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.details__list__about__order__common {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    background: rgb(0, 160, 172);
    padding: 10px 10px;

    & div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        row-gap: 5px;
        column-gap: 30px;

        & span {
            font-family: SF Pro Text;
            font-size: 16px;
            color: white;
            line-height: 20px;
            padding: 4px;
        }
    }
}

.details__list__about__products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

th {
    font-family: SF Pro Text;
    font-size: 16px;
    font-weight: normal;
    color: rgb(0, 160, 172);
    border-bottom: 2px solid rgb(0, 160, 172);
    padding: 20px 10px;
}

td {
    border-bottom: 2px dashed rgba(0, 160, 172, 0.24);
    margin: 15px 0;
    text-align: center;
    font-family: SF Pro Text;
    color: #669;
    padding: 10px 10px;
    transition: .3s linear;
}

tr:hover td {
    color: #6699ff;
}

.details__list__about__products-img {
    max-height: 100%;
    max-width: 100%;

    & img {
        height: 100px;
        width: 100px;
    }
}

.details__buttons {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.subscription__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px 20px 20px;
}

.subscription_introduction {
    background: rgb(0, 160, 172);
    border-radius: 4px;
    & p {
        font-family: SF Pro Text;
        font-size: 16px;
        text-align: center;
        color: white;
        line-height: 20px;
        padding: 10px;
    }
}

.subscription__main-img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    & img {
        width: 980px;
        border-radius: 4px;
    }
}

.subscription_by_email {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}

.subscription__button {
    display: flex;
    justify-content: space-between;
}


