.main__wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main__nav {
    padding: 16px 0 0 0;
}

.main__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.main__nav-list-item a {
    color: rgb(32, 34, 35);
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.main__nav-list-item-active a {
    color: rgb(109, 113, 117);
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.mian__nav-list-item-arrow {
    max-height: 20px;
}

.article__title-wrap-order {
    display: flex;
    padding: 15px 10px;
    gap: 25px;
    background: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: -11px 11px 13px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -11px 11px 13px 4px rgba(34, 60, 80, 0.2);
    box-shadow: -11px 11px 13px 4px rgba(34, 60, 80, 0.2);
}

main p, h2, h3, li {
    color: var(--Text-Default, #202223);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

main h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

main h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.article__title-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 0 24px 0;
}

.article__title-wrap-order-item {
    flex: 0 1 600px;
    display: flex;
    flex-direction: column;
}

.order-item-time {
    margin: 10px 0 0 0;
}

.article__title-wrap-order-card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.article__title-wrap-order-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 150px;
    border-radius: 8px;
    gap: 10px;
    -webkit-box-shadow: 0 1px 12px 7px rgba(34, 60, 80, 0.37);
    -moz-box-shadow: 0 1px 12px 7px rgba(34, 60, 80, 0.37);
    box-shadow: 0 1px 12px 7px rgba(34, 60, 80, 0.37);
}

.body__content {
    display: flex;
    /*justify-content: space-between;*/
    gap: 20px;
    border-top: 1px solid #d2d5d8;
    padding: 20px 0;
}

.profile__nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profile__nav-list-item a {
    color: rgb(32, 34, 35);
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.user__data-button {

}

.pay__card {
    padding: 10px 0;
    background: #ffffff;
}

.promotions__wrap {
    display: flex;
    flex-direction: column;
}

.pay__card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.pay__card-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 16px 16px;
    border-radius: 4px;
    border: 2px solid rgb(140, 145, 150);
    background: rgb(0, 160, 172);
    margin: 5px;
}

.numder_paycard {
    display: flex;
    justify-content: center;
    gap: 2.5px
}

.input_item_active_num_paycard {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    padding: 8px 8px;
    width: 75px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(140, 145, 150);
    background: rgb(255, 255, 255);
}

.date_CVV_paycard {
    display: flex;
    gap: 70px;
}

.input_item_active_date_paycard {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    padding: 8px 8px;
    width: 75px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(140, 145, 150);
    background: rgb(255, 255, 255);
}

.input_item_active_CVV_paycard {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    padding: 8px 8px;
    width: 75px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(140, 145, 150);
    background: rgb(255, 255, 255);
}

.wishlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.comparison {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comparison__title, .wishlist__title {
    display: flex;
    justify-content: start;
    padding-left: 350px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(34, 60, 80, 0.2);

    & p {
        font-size: large;
    }
}

.product__list-wrapper {
    display: flex;
    overflow: auto;
}

.product__list {
    height: 1200px;
    display: flex;
    gap: 16px 0px;
}

.product__list-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #fff;
    gap: 10px;
    transition: 0.2s;
    height: 1200px;
    width: 250px;
}

.product___item-img {
    flex: 0 1 210px;
}

.product__item-img img {
    width: 100%;
    height: 210px;
    -o-object-fit: contain;
    object-fit: contain;
    user-select: none;
}

.product__item-title {
    display: flex;
    flex: 0 1 100px;
    padding-bottom: 20px;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #222;
    border-bottom: 1px solid rgba(34, 60, 80, 0.2);
}

.product__item-title-price, .product__item-title-brand, .product__item-title-compound, .product__item-title-supplements {
    background: #98C6CD;
}

.product__item-compound, .product__item-supplements {
    height: 300px;
    margin-right: 10px;
}

.user__data__wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 0 24px 0;
    width: 1030px;

}

.user__data__title-wrap {
    text-align: center;
    border-bottom: 1px solid rgba(34, 60, 80, 0.2);
    padding-bottom: 10px;
}

.user__data-from-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user__data-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;

    & p {
        border: 1px solid rgb(0, 160, 172);
        border-radius: 4px;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        background: white;
    }
}

.user__data-button-wrap {
    display: flex;
    justify-content: center;
}

.user__data-button {
    display: flex;
    justify-content: center;
    background: rgb(0, 160, 172);
    height: 30px;
    border-radius: 4px;
    width: 200px;
    align-items: center;
    font-family: SF Pro Text;
    color: white;
    /*font-size: smaller;*/
}