{% extends 'registration_base.html'%} {% load static %} {% block content %}
<div class="page_wrapper">
    <div class="reset_done_message">
        <h4 class="alert-heading">Спасибо за регистрацию! Мы рады приветствовать вас на нашем сайте.</h4>
        <p class="text">
            После успешной регистрации на ваш электронный адрес была отправлена ссылка для подтверждения. Пожалуйста,
            проверьте свою почту и следуйте инструкциям, чтобы завершить процесс подтверждения. Если у вас возникнут
            вопросы или пожелания, не стесняйтесь обращаться к нам. Мы всегда готовы помочь! 📧🙌
        </p>
    </div>
</div>
{% endblock %}
