<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/null.css' %}" />
        <link rel="stylesheet" href="{% static 'css/registration_page/register_style.css' %}" />
        
        <title>Письмо</title>
    </head>
    <body>
        <div class="reset_done_message">
            <h4 class="alert-heading">Электронная почта подтверждена</h4>
        <p>Ваш адрес электронной почты успешно подтвержден. Спасибо за регистрацию!</p>
        <a href="{% url 'login' %}">Вход</a>
        </div>
        <div class="img_wrap">
            <img src="{% static '/img/collcat.png' %}" alt="">
        </div>
    </body>
</html>