<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/null.css' %}" />
        <link rel="stylesheet" href="{% static 'css/registration_page/register_style.css' %}" />
        
        <title>Письмо</title>
    </head>
    <body>
        <div class="reset_done_message">
            <h4 class="alert-heading">Письмо подтверждения отправлено!</h4>
            <p class="text">
                На ваш адрес электронной почты было отправлено письмо с подтверждением. Пожалуйста, проверьте свою
                электронную почту и нажмите на ссылку подтверждения, чтобы завершить регистрацию. Если письмо не пришло,
                проверьте папку спам.
            </p>
        </div>
    </body>
</html>
