{% extends 'registration_base.html'%} {% load static %} {% block content %}

<div class="page_wrapper">
    <div class="form_wrap_set_pass">
        <form class="callback_auth" method="POST">
            {% csrf_token %}
            <h2 class="callback__title">Смена пароля</h2>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Новый пароль</label>
            {{ form.new_password1 }} {{ form.new_password2.errors }}
            <label for="id_new_password2">Повторите пароль</label>
            {{ form.new_password2 }}
            <div class="down_panel">
                <button class="button">Сменить пароль</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
