<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/registration_style.css' %}">
    <title>Восстановление пароля</title>
</head>
<body>
<form action="{% url 'main:password_reset' %}" method="POST">
       {% csrf_token %}
    <h1>Восстановление пароля</h1>
    {{ reset_form }}
    <input type="submit" value="Отправить"/>
    <a href="{% url 'main:register' %}">Регистрация</a>
    <a href="{% url 'main:login' %}">Войти</a>
</form>
{#<form method="post">{% csrf_token %}#}
{#    <fieldset class="module aligned">#}
{#        <div class="form-row field-email">#}
{#            {{ form.email.errors }}#}
{#            <div class="flex-container">#}
{#                {{ form.email }}#}
{#            </div>#}
{#        </div>#}
{#    </fieldset>#}
{#    <div class="submit-row">#}
{#    </div>#}
</form>
</body>
</html>