{% extends 'registration_base.html'%} 
{% load static %}
{% block content %} 
    <div class="page_wrapper">
        <div class="form_wrap_forget">
            <form class="callback_auth" method="POST" action="{% url 'password_reset'%}">
                {% csrf_token %}
                <h2 class="callback__title">Восстановление пароля</h2>
                <p>{{error}}</p>
                {{reset_form}}
                <div class="down_panel">
                    <button class="button">Отправить</button>
                    <a class="link_next_page" href="{% url 'register' %}">Регистрация</a>
                    <a class="link_next_page" href="{% url 'login' %}">Вход</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
