{% extends 'base_profile_template.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_page/style.css' %}">
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}


{% block profile_content %}
    <section class="user__data">
            <div class="promotions__wrap">
                <div class="pay__card__title-wrap">
                    <h2 class="pay__card__title">Пластиковые карты</h2>
                </div>
                <ul class="pay__card__list">
                    {% for pay_card in pay_cards %}
                        <fieldset class="pay__card-item">
                            <div class="numder_paycard">
                                <div class="input_item_active_num_paycard">
                                    <p>{{ pay_card.card_number|slice:"0:4" }}</p>
                                </div>
                                <div class="input_item_active_num_paycard">
                                    <p>{{ pay_card.card_number|slice:"4:8" }}</p>
                                </div>
                                <div class="input_item_active_num_paycard">
                                    <p>{{ pay_card.card_number|slice:"8:12" }}</p>
                                </div>
                                <div class="input_item_active_num_paycard">
                                    <p>{{ pay_card.card_number|slice:"12:16" }}</p>
                                </div>
                            </div>
                            <div>
                                <p>Баланс: {{ pay_card.balance }}</p>
                            </div>
                            <div class="date_CVV_paycard">
                                <div class="input_item_active_date_paycard">
                                    <p>{{ pay_card.expiration_date }}</p>
                                </div>
                                <div class="input_item_active_CVV_paycard">
                                    <p>{{ pay_card.cvc }}</p>
                                </div>
                            </div>
                        </fieldset>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="article">
        <div class="article__wrap">
            <div class="article__title">
                <div class="container">
                    <div class="article__title-wrap">
                        <h2 class="pay__card__title">История заказов</h2>
                        {% for order in orders %}
                            <div class="article__title-wrap-order">
                                <div class="article__title-wrap-order-item">
                                    <h2>Номер заказа: {{ order.order_number }}</h2>
                                    <h3>Статус: <b><i>{{ order.order_status }}</i></b></h3>
                                    <h3>Продукты:</h3>
                                    <div>
                                    {% for prod in order.products.all %}
                                        <li class="article__order-item">{{ forloop.counter }}. {{ prod.title }}</li>
                                    {% endfor %}
                                    </div>
                                    <p class="order-item-time">Время заказа: {{ order.data_create }}</p>
                                    <p class="order-item-time">Сумма заказа: {{ order.total_price }}</p>
                                    <div class="article__title-wrap-order-item-button">
                                        <a href="/basket/" class="button">Повторить заказ</a>
                                        <a href="{% url 'order_details' order.id %}" class="button">Детали заказа</a>
                                    </div>
                                </div>
                                <div class="article__title-wrap-order-card">
                                    {% if order.pay_card %}
                                        <div class="article__title-wrap-order-card-item">
                                            <div>
                                                <p>Номер карты:</p>
                                                <div class="numder_paycard">
                                                    <div class="input_item_active_num_paycard">
                                                        <p>{{ order.pay_card.card_number|slice:"0:4" }}</p>
                                                    </div>
                                                    <div class="input_item_active_num_paycard">
                                                        <p>{{ order.pay_card.card_number|slice:"4:8" }}</p>
                                                    </div>
                                                    <div class="input_item_active_num_paycard">
                                                        <p>{{ order.pay_card.card_number|slice:"8:12" }}</p>
                                                    </div>
                                                    <div class="input_item_active_num_paycard">
                                                        <p>{{ order.pay_card.card_number|slice:"12:16" }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Владелец:</p>
                                                <p>{{ order.user.first_name }} {{ order.user.last_name }}</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="article__title-wrap-order-card-item">
                                            <p>Оплата наличными в пункте самовывоза</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{#{% block navigation %}#}
{#    <main>#}
{#        <div class="main__wrap">#}
{#            <nav class="main__nav">#}
{#                <div class="container">#}
{#                    <ul class="main__nav-list">#}
{#                        <li class="main__nav-list-item">#}
{#                            <a href="{% url 'main' %}">Главная</a>#}
{#                        </li>#}
{#                        <li class="mian__nav-list-item-arrow">#}
{#                            <svg#}
{#                                    width="20.000000"#}
{#                                    height="20.000000"#}
{#                                    viewBox="0 0 20 20"#}
{#                                    fill="none"#}
{#                                    xmlns="http://www.w3.org/2000/svg"#}
{#                                    xmlns:xlink="http://www.w3.org/1999/xlink"#}
{#                            >#}
{#                                <defs/>#}
{#                                <path#}
{#                                        id="Primary fill"#}
{#                                        d="M8.00049 16C7.74414 16 7.48828 15.902 7.29346 15.707C6.90234 15.316 6.90234 14.684 7.29346 14.293L11.5864 10L7.29346 5.707C6.90234 5.316 6.90234 4.684 7.29346 4.293C7.68408 3.902 8.31641 3.902 8.70703 4.293L13.707 9.293C14.0981 9.684 14.0981 10.316 13.707 10.707L8.70703 15.707C8.51221 15.902 8.25635 16 8.00049 16Z"#}
{#                                        fill="#5C5F62"#}
{#                                        fill-opacity="1.000000"#}
{#                                        fill-rule="evenodd"#}
{#                                />#}
{#                            </svg>#}
{#                        </li>#}
{#                        <li class="main__nav-list-item-active">#}
{#                            <a href="{% url 'profile' %}">Личный кабинет</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </nav>#}
{#            <div class="body">#}
{#                <div class="container">#}
{#                    <div class="body__content">#}
{#                        <nav class="profile__nav">#}
{#                            <ul class="profile__nav-list">#}
{#                                <li class="profile__nav-list-item">#}
{#                                    <a href="#">История заказов</a>#}
{#                                </li>#}
{#                                <li class="profile__nav-list-item">#}
{#                                    <a href="{% url 'wishlist' %}">Избранное</a>#}
{#                                </li>#}
{#                                <li class="profile__nav-list-item">#}
{#                                    <a href="#">Просмотренные</a>#}
{#                                </li>#}
{#                                <li class="profile__nav-list-item">#}
{#                                    <a href="{% url 'comparisonlist' %}">Списки сравнения</a>#}
{#                                </li>#}
{#                                <li class="profile__nav-list-item">#}
{#                                    <a href="#">Подписки</a>#}
{#                                </li>#}
{#                                <li class="profile__nav-list-item">#}
{#                                    <a href="#">Личные данные</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                        {% block content %}#}
{#                            <section class="user__data">#}
{#                                <ul class="user__data-list">#}
{#                                    <li class="user__data-list-item">#}
{##}
{#                                    </li>#}
{##}
{#                                </ul>#}
{#                            </section>#}
{#                            <section class="entrance__data">#}
{#                                <ul class="entrance__data-list">#}
{#                                    <li class="entrance__data-list-item">#}
{##}
{#                                    </li>#}
{#                                </ul>#}
{#                            </section>#}
{#                        {% endblock %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </main>#}
{#{% endblock %}#}

{#                        <section class="pay__card">#}
{#                    <div class="container">#}
{#                            <div class="promotions__wrap">#}
{#                                <div class="pay__card__title-wrap">#}
{#                                    <h2 class="pay__card__title">Пластиковые карты</h2>#}
{#                                </div>#}
{#                                <ul class="pay__card__list">#}
{#                                    {% for pay_card in pay_cards %}#}
{#                                        <fieldset class="pay__card-item">#}
{#                                            <div class="numder_paycard">#}
{#                                                <div class="input_item_active_num_paycard">#}
{#                                                    <p>{{ pay_card.card_number|slice:"0:4" }}</p>#}
{#                                                </div>#}
{#                                                <div class="input_item_active_num_paycard">#}
{#                                                    <p>{{ pay_card.card_number|slice:"4:8" }}</p>#}
{#                                                </div>#}
{#                                                <div class="input_item_active_num_paycard">#}
{#                                                    <p>{{ pay_card.card_number|slice:"8:12" }}</p>#}
{#                                                </div>#}
{#                                                <div class="input_item_active_num_paycard">#}
{#                                                    <p>{{ pay_card.card_number|slice:"12:16" }}</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div>#}
{#                                                <p>Баланс: {{ pay_card.balance }}</p>#}
{#                                            </div>#}
{#                                            <div class="date_CVV_paycard">#}
{#                                                <div class="input_item_active_date_paycard">#}
{#                                                    <p>{{ pay_card.expiration_date }}</p>#}
{#                                                </div>#}
{#                                                <div class="input_item_active_CVV_paycard">#}
{#                                                    <p>{{ pay_card.cvc }}</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </fieldset>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
{#                    </div>#}
{#                        </section>#}
{#                        <section class="article">#}
{#                            <div class="article__wrap">#}
{#                                <div class="article__title">#}
{#                            <div class="container">#}
{#                                    <div class="article__title-wrap">#}
{#                                        <h2 class="pay__card__title">История заказов</h2>#}
{#                                        {% for order in orders %}#}
{#                                            <div class="article__title-wrap-order">#}
{#                                                <div class="article__title-wrap-order-item">#}
{#                                                    <h2>Номер заказа: {{ order.order_number }} </h2>#}
{#                                                    <h3>Продукты:</h3>#}
{#                                                    {% for prod in order.products.all %}#}
{#                                                        <li>{{ forloop.counter }}. {{ prod.title }}</li>#}
{#                                                    {% endfor %}#}
{#                                                    <p class="order-item-time">Время заказа: {{ order.data_create }}</p>#}
{#                                                    <p class="order-item-time">Сумма заказа: {{ order.total_price }}</p>#}
{#                                                </div>#}
{#                                                <div class="article__title-wrap-order-card">#}
{#                                                    {% if order.pay_card %}#}
{#                                                        <div class="article__title-wrap-order-card-item">#}
{#                                                            <div>#}
{#                                                                <p>Номер карты:</p>#}
{#                                                                <div class="numder_paycard">#}
{#                                                                    <div class="input_item_active_num_paycard">#}
{#                                                                        <p>{{ order.pay_card.card_number|slice:"0:4" }}</p>#}
{#                                                                    </div>#}
{#                                                                    <div class="input_item_active_num_paycard">#}
{#                                                                        <p>{{ order.pay_card.card_number|slice:"4:8" }}</p>#}
{#                                                                    </div>#}
{#                                                                    <div class="input_item_active_num_paycard">#}
{#                                                                        <p>{{ order.pay_card.card_number|slice:"8:12" }}</p>#}
{#                                                                    </div>#}
{#                                                                    <div class="input_item_active_num_paycard">#}
{#                                                                        <p>{{ order.pay_card.card_number|slice:"12:16" }}</p>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div>#}
{#                                                                <p>Владелец:</p>#}
{#                                                                <p>{{ order.user.first_name }} {{ order.user.last_name }}</p>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    {% else %}#}
{#                                                        <div class="article__title-wrap-order-card-item">#}
{#                                                            <p>Оплата наличными в пункте самовывоза</p>#}
{#                                                        </div>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                            </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </section>#}