{% extends 'base_profile_template.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_page/style.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <li class="main__nav-list-item-active">
        <a href="{% url 'subscriptions' %}">Подписки</a>
    </li>
{% endblock %}

{% block title %}
    Подписки
{% endblock %}

{% block profile_content %}
    <section class="subscription">
        <div class="subscription__title">
            <p>Оформление подписки</p>
        </div>
        <div class="subscription__main">
            <div class="subscription_introduction">
                <p>Подпишитесь на получение обновлений о продуктах, услугах и мероприятиях.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="subscription_by_email">
                    <input type="checkbox" name="subscribe" {% if status %} checked {% endif %}>
                    <p>По электронной почте</p>
                </div>
                <div class="subscription__button">
                    <button class="button">Сохранить</button>
                </div>
            </form>
            <div class="subscription_status_button">
                <a class="button" href="{% url 'subscription_status' %}">Статус подписки</a>
            </div>
        </div>
    </section>



    {#    <div class="cat__developer"#}
    {#         style="display: flex; flex-direction: column; align-items: center; justify-content: center;">#}
    {#        <div class="not_auth">#}
    {#            <img src="{% static 'img/cat_404.avif' %}" alt="Кот:)"/>#}
    {#        </div>#}
    {#        <div class="not_auth_link">#}
    {#            <h2 style="color: black; font-family: SF Pro Text; font-size: 20px; font-weight: 500; padding: 15px">#}
    {#                Страница находится в разработке#}
    {#            </h2>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}