{% extends 'base_template.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_page/style.css' %}">
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block profile_content %}
    <section class="user__data">
        <div class="user__data__wrap">
            <div class="user__data__title-wrap">
                <h2 class="user__data__title">Личные данные</h2>
            </div>
            <div class="user__data-from-wrap">
                <form class="user__data-form-item" method="post">
                    {% csrf_token %}
                    {{ form_profile.as_p }}
                    <div class="user__data-button-wrap">
                        <button class="user__data-button" type="submit" name="action" value="profile">Сохранить</button>
                    </div>
                </form>
                <form class="user__data-form" method="post">
                    <div class="user__data-form-item login__form">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if 'username' in message.tags %}
                                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ form_profile_user.as_p }}
                        <div class="user__data-button-wrap">
                            <button class="user__data-button save__login-button" type="submit" name="action" value="profile_user_username">
                                Сохранить
                            </button>
                            <button class="user__data-button change__login-button" type="button" name="action" value="profile_user_username">
                                Редактировать
                            </button>
                        </div>
                    </div>
                    <div class="user__data-form-item">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if 'password' in message.tags %}
                                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ form_profile_password.as_p }}
                        <div class="user__data-button-wrap">
                            <button class="user__data-button save__password-button" type="submit" name="action" value="profile_user_password">
                                Сохранить
                            </button>
                            <button class="user__data-button change__password-button" type="button" name="action" value="profile_user_username">
                                Редактировать
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/profile_data_user/disabled_input.js' %}"></script>


{% endblock %}