{% extends 'base_profile_template.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_page/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog_page/style.css' %}">
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}
<body>
{% block profile_content %}
    <section class="wishlist">
        <div class="wishlist__title">
            <p>Избранные товары</p>
        </div>
        <div class="product__list-wrap">
            <ul class="products__list">
            </ul>
        </div>
    </section>
{% endblock %}
</body>


{% block js %}
<script src="{% static 'js/wishList/wishList.js' %}"></script>
{% endblock %}