{% extends 'base_template.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_page/style.css' %}">
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block profile_content %}
        <section class="pay__card">
                <div class="promotions__wrap">
                    <div class="pay__card__title-wrap">
                        <h2 class="pay__card__title">Профайл</h2>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form_profile.as_p }}
                        <button type="submit" name="action" value="profile">Save</button>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        {{ form_profile_user.as_p }}
                        <button type="submit" name="action" value="profile_user_username">Save</button>
                        {{ form_profile_password.as_p }}
                        <button type="submit" name="action" value="profile_user_password">Save</button>
                    </form>
                </div>
        </section>
    </div>
</main>
{% endblock %}