<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/null.css' %}" />
        <link rel="stylesheet" href="{% static 'css/registration_page/register_style.css' %}" />
        <title>Регистрация</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="page_wrapper">
                <div class="form_wrap_register">
                    <div class="cross">
                        <a href="{% url 'main' %}">
                            <img src="{% static '/img/cross.png' %}" alt="" />
                        </a>
                    </div>
                    <form class="callback" method="POST">
                        {% csrf_token %}
                        <h2 class="callback__title">Регистрация</h2>
                        <p>{{error}}</p>
                        {{register_form}}
                        <div class="down_panel">
                            <button class="button">Регистрация</button>
                            <a class="link_next_page" href="{% url 'login' %}">Вход</a>
                            <a class="link_next_page" href="{% url 'reset_form' %}">Забыли пароль?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
