{% extends 'registration_base.html'%} 
{% load static %}
{% block content %} 
    <div class="page_wrapper">
        <div class="form_wrap_register">
            <form class="callback_auth" method="POST">
                {% csrf_token %}
                <h2 class="callback__title">Регистрация</h2>
                <p>{{error}}</p>
                {{register_form}}
                <div class="down_panel">
                    <a class="link_next_page" href="{% url 'login' %}">Вход</a>
                    <button class="button">Регистрация</button>
                    <a class="link_next_page" href="{% url 'reset_form' %}">Забыли пароль?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
